<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSScreenCaptureUsageDescription</key>
    <string>OpenRemote requires screen recording permissions to capture and stream the remote display.</string>
    <key>NSAccessibilityUsageDescription</key>
    <string>OpenRemote requires accessibility permission to control the mouse and keyboard remotely.</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
